# Default
* text=auto

# Scripts
*.sh text eol=lf
*.py text eol=lf
*.pl text eol=lf
Makefile text eol=lf

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.gz binary
*.bz2 binary
*.xz binary
*.dat binary

# Project documents
config.fs text linguist-language=TOML
FS.info   text linguist-language=Markdown
